*.aar
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.iml
.gradle
.idea
.kotlin
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/app/src/main/assets/exclave-core/*.dat
/service_account_credentials.json
jniLibs/
release.keystore
go.work
go.work.sum
